<!-- <ion-header>
  <ion-toolbar color="warning">
    <ion-title color="dark">store-list</ion-title>
  </ion-toolbar>
</ion-header> -->
<app-barmain></app-barmain>

<ion-content padding>
  <ion-card class="ion-padding">
    <ion-row>
      <ion-col size="12" size-sm>
        <ion-label>สาขา</ion-label>
        <ion-select interface="popover" value="brown" okText="ตกลง">
          <ion-select-option value="brown">อุดรธานี</ion-select-option>
          <ion-select-option value="blonde">ขอนแก่น</ion-select-option>
          <ion-select-option value="black">สกลนคร</ion-select-option>
          <ion-select-option value="red">หนองคาย</ion-select-option>
        </ion-select>
      </ion-col>

      <ion-col size="12" size-sm>
        <ion-label>สาย</ion-label>
        <ion-select interface="popover" value="brown" okText="ตกลง">
          <ion-select-option value="brown">01</ion-select-option>
          <ion-select-option value="blonde">02</ion-select-option>
          <ion-select-option value="black">03</ion-select-option>
          <ion-select-option value="red">04</ion-select-option>
        </ion-select>
      </ion-col>

      <ion-col>
          <ion-label>ลูกค้า</ion-label>
          <ion-select interface="popover" value="brown" okText="ตกลง">
            <ion-select-option value="brown">เจ้ต่าย</ion-select-option>
            <ion-select-option value="blonde">เฮียไก่</ion-select-option>
            <ion-select-option value="black">ป้าแดง</ion-select-option>
            <ion-select-option value="red">หนูเล็ก</ion-select-option>
          </ion-select>
      </ion-col>

    </ion-row>

  </ion-card>

  <ion-card class="ion-padding">
    <ion-row>
      <ion-col text-center>
        <h1>รายการบิลเก็บเงิน</h1>
      </ion-col>
    </ion-row>

    <ion-grid>
      <ion-row>
        <ion-segment scrollable>
          <table class="fixed_header">
            <thead>
              <tr>
                <th>รหัสบิล</th>
                <th>วันที่</th>
                <th>ยอดบิล</th>
                <th>สถานะการชำระ</th>
                <th>วันที่เก้บเงิน</th>
                <th width="5%">ดูข้อมูล</th>
                <th width="5%">แจ้งโอน</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>ฺb-123001</td>
                <td>2019-10-11</td>
                <td>1000</td>
                <td>ยังไม่ชำระ</td>
                <td>-</td>
                <td>
                  <ion-button size="small">
                    <ion-icon slot="icon-only" name="eye"></ion-icon>
                  </ion-button>
                </td>
                <td>
                  <ion-button size="small">
                    โอน
                  </ion-button>
                </td>
              </tr>
              <tr>
                <td>ฺb-123001</td>
                <td>2019-10-11</td>
                <td>1000</td>
                <td>ยังไม่ชำระ</td>
                <td>-</td>
                <td>
                  <ion-button size="small">
                    <ion-icon slot="icon-only" name="eye"></ion-icon>
                  </ion-button>
                </td>
                <td>
                  <ion-button size="small">
                    โอน
                  </ion-button>
                </td>
              </tr>
              <tr>
                <td>ฺb-123001</td>
                <td>2019-10-11</td>
                <td>1000</td>
                <td>ยังไม่ชำระ</td>
                <td>-</td>
                <td>
                  <ion-button size="small">
                    <ion-icon slot="icon-only" name="eye"></ion-icon>
                  </ion-button>
                </td>
                <td>
                  <ion-button size="small">
                    โอน
                  </ion-button>
                </td>
              </tr>
            </tbody>
          </table>
        </ion-segment>
      </ion-row>
    </ion-grid>
  </ion-card>
</ion-content>