<ion-header>
  <ion-toolbar color="warning">
    <ion-title color="dark">billEditData</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-card class="ion-padding">
    <ion-item>
      <ion-row>
        <h2>แก้ไขการเก็บเงิน</h2>
      </ion-row>
    </ion-item>
    <ion-row>
      <ion-col text-center>
        <span>ตารางเก็บเงินสายอุดร-อิสาณไทย รอบบิลวันที่ 05-10/สิงหาคม/2562</span><br>
        <span>วันที่ 11 เดือน ตุลาคม พ.ศ. 2562</span>
      </ion-col>
    </ion-row>
    <ion-grid>

      <ion-row>
        <ion-segment scrollable>
          <table class="fixed_header">
            <thead>
              <tr>
                <th>ลำดับ</th>
                <th>รายชื่อลูกค้า</th>
                <th>โซน</th>
                <th>จ่ายเก่า</th>
                <th>จ่ายสด</th>
                <th>ค้างชำระ</th>
                <th>เงินที่ได้รับ</th>
                <th>รวมเป็นเงิน</th>
                <th>หมายเหตุ</th>

              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1</td>
                <td>เจ้ดำ</td>
                <td>อุดร-ไทยอิสาณ</td>
                <td>
                  <ion-input value="200"></ion-input>
                </td>
                <td>
                  <ion-input value="300"></ion-input>
                </td>
                <td>
                  <ion-input value="200"></ion-input>
                </td>
                <td>
                  <ion-input value="500"></ion-input>
                </td>
                <td>
                  <ion-input value="1000"></ion-input>
                </td>
                <td>โอน</td>


              </tr>
              <tr>
                <td>2</td>
                <td>เจ้พร</td>
                <td>อุดร-ไทยอิสาณ</td>
                <td>
                  <ion-input value="200"></ion-input>
                </td>
                <td>
                  <ion-input value="300"></ion-input>
                </td>
                <td>
                  <ion-input value="200"></ion-input>
                </td>
                <td>
                  <ion-input value="500"></ion-input>
                </td>
                <td>
                  <ion-input value="1000"></ion-input>
                </td>
                <td>โอน</td>

              </tr>
              <tr>
                <td>3</td>
                <td>เจ้ฟ้า</td>
                <td>อุดร-ไทยอิสาณ</td>
                <td>
                  <ion-input value="200"></ion-input>
                </td>
                <td>
                  <ion-input value="300"></ion-input>
                </td>
                <td>
                  <ion-input value="200"></ion-input>
                </td>
                <td>
                  <ion-input value="500"></ion-input>
                </td>
                <td>
                  <ion-input value="1000"></ion-input>
                </td>
                <td>โอน</td>

              </tr>
              <tr>
                <td>4</td>
                <td>เจ้หนาว</td>
                <td>อุดร-ไทยอิสาณ</td>
                <td>
                  <ion-input value="200"></ion-input>
                </td>
                <td>
                  <ion-input value="300"></ion-input>
                </td>
                <td>
                  <ion-input value="200"></ion-input>
                </td>
                <td>
                  <ion-input value="500"></ion-input>
                </td>
                <td>
                  <ion-input value="1000"></ion-input>
                </td>
                <td>โอน</td>

              </tr>
              <tr>
                <td>5</td>
                <td>เจ้นอน</td>
                <td>อุดร-ไทยอิสาณ</td>
                <td>
                  <ion-input value="200"></ion-input>
                </td>
                <td>
                  <ion-input value="300"></ion-input>
                </td>
                <td>
                  <ion-input value="200"></ion-input>
                </td>
                <td>
                  <ion-input value="500"></ion-input>
                </td>
                <td>
                  <ion-input value="1000"></ion-input>
                </td>
                <td>โอน</td>

              </tr>
            </tbody>
          </table>
        </ion-segment>
      </ion-row>
    </ion-grid>
  </ion-card>
  <ion-row>
    <ion-button color="success">บันทึก</ion-button>
    <ion-button color="primary">พิมพ์</ion-button>
  </ion-row>

</ion-content>