
    <app-barmain></app-barmain>
 

<ion-content padding>

  <ion-row>
    <ion-col size="12" size-sm>
      <ion-searchbar placeholder="ค้นหาสาขา"></ion-searchbar>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col size="2">
      <ion-button size="12" color="primary" (click)="gotoShopAdd()">เพิ่มสาขา</ion-button>
    </ion-col>
  </ion-row>

  <ion-card class="ion-padding">
    <ion-row>
      <ion-col text-center>
        <h1>รายชื่อสาขา</h1>
      </ion-col>
    </ion-row>

    <ion-grid>
      <ion-row>
        <ion-segment scrollable>
          <table class="fixed_header">
            <thead>
              <tr>
                <th>รหัสสาขา</th>
                <th>ชื่อสาขา</th>
                <th width="5%">แก้ไข</th>
                <th width="5%">ลบ</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>S-000101</td>
                <td>สว่างแดนดิน </td>
                <td>
                  <ion-button color="warning">
                    <ion-icon name="create"></ion-icon>
                  </ion-button>
                </td>
                <td>
                  <ion-col>
                    <ion-button color="danger">
                      <ion-icon name="trash"></ion-icon>
                    </ion-button>
                  </ion-col>
                </td>
              </tr>
              <tr>
                <td>S-000101</td>
                <td>สว่างแดนดิน </td>
                <td>
                  <ion-button color="warning">
                    <ion-icon name="create"></ion-icon>
                  </ion-button>
                </td>
                <td>
                  <ion-col>
                    <ion-button color="danger">
                      <ion-icon name="trash"></ion-icon>
                    </ion-button>
                  </ion-col>
                </td>
              </tr>
              <tr>
                <td>S-000101</td>
                <td>สว่างแดนดิน </td>
                <td>
                  <ion-button color="warning">
                    <ion-icon name="create"></ion-icon>
                  </ion-button>
                </td>
                <td>
                  <ion-col>
                    <ion-button color="danger">
                      <ion-icon name="trash"></ion-icon>
                    </ion-button>
                  </ion-col>
                </td>
              </tr>
            </tbody>
          </table>
        </ion-segment>
      </ion-row>
    </ion-grid>
  </ion-card>

</ion-content>