<!-- <ion-header>
  <ion-toolbar color="warning">
    <ion-title color="dark">debtreductionAdd</ion-title>
  </ion-toolbar>
</ion-header> -->
<app-barmain></app-barmain>

<ion-content>
  <ion-card padding>
    <ion-row>
      <ion-col>
        <ion-label>สาขา</ion-label>
        <ion-select interface="popover" value="brown" okText="ตกลง">
          <ion-select-option value="brown">อุดรธานี</ion-select-option>
          <ion-select-option value="blonde">ขอนแก่น</ion-select-option>
          <ion-select-option value="black">สกลนคร</ion-select-option>
          <ion-select-option value="red">หนองคาย</ion-select-option>
        </ion-select>
      </ion-col>
      <ion-col>
        <ion-label>สาย</ion-label>
        <ion-select interface="popover" value="brown" okText="ตกลง">
          <ion-select-option value="brown">01</ion-select-option>
          <ion-select-option value="blonde">02</ion-select-option>
          <ion-select-option value="black">03</ion-select-option>
          <ion-select-option value="red">04</ion-select-option>
        </ion-select>
      </ion-col>
    </ion-row>
  </ion-card>
  <ion-col text-end>
    <ion-button (click)="gotoDebReducAdd()">ออกการลดหนี้</ion-button>
  </ion-col>

  <ion-card class="ion-padding">
    <ion-row>
      <ion-col text-center>
        <h1>รายการลดหนี้</h1>
      </ion-col>
    </ion-row>

    <ion-grid>
      <ion-row>
        <ion-segment scrollable>
          <table class="fixed_header">
            <thead>
              <tr>
                <th>รหัสลูกค้า</th>
                <th>ชื่อลูกค้า</th>
                <th>สินค้า</th>
                <th>สาขา</th>
                <th>สาย</th>
                <th>ประเภท</th>
                <th>จำนวน</th>
                <th>พิมพ์</th>
              </tr>
            </thead>

            <tbody>
              <tr>
                <td>CS-03001</td>
                <td>เจ้ต่าย </td>
                <td>ถั่วงอก</td>
                <td>อุดรธานี</td>
                <td>สาย010</td>
                <td>ส่วนลด</td>
                <td>100</td>
                <td>
                  <ion-button size="small">
                    <ion-icon slot="icon-only" name="print"></ion-icon>
                  </ion-button>
                </td>

              </tr>
              <tr>
                <td>CS-03001</td>
                <td>เจ้ต่าย</td>
                <td>ถั่วงอก</td>
                <td>อุดรธานี</td>
                <td>สาย010</td>
                <td>ส่วนลด</td>
                <td>100</td>
                <td>
                  <ion-button size="small">
                    <ion-icon slot="icon-only" name="print"></ion-icon>
                  </ion-button>
                </td>

              </tr>
              <tr>
                <td>CS-03001</td>
                <td>เจ้ต่าย</td>
                <td>ถั่วงอก</td>
                <td>อุดรธานี</td>
                <td>สาย010</td>
                <td>ส่วนลด</td>
                <td>100</td>
                <td>
                  <ion-button size="small">
                    <ion-icon slot="icon-only" name="print"></ion-icon>
                  </ion-button>
                </td>

              </tr>
            </tbody>
          </table>
        </ion-segment>
      </ion-row>
    </ion-grid>
  </ion-card>

</ion-content>