<ion-header>
  <ion-toolbar color="warning">
    <ion-title color="dark">UserEdit</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="ion-padding">
        <ion-row color="primary" justify-content-center>
          <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
            <div text-center *ngIf="check == 1">
              <h3>ข้อมูลพนักงาน</h3>
            </div>

            <div text-center *ngIf="check == 2">
                <h3>แก้ไขพนักงาน</h3>
              </div>

            <div>
              <ion-label>Username</ion-label>
              <ion-input class="input1" type="text" placeholder="Username"></ion-input>
              <ion-label>Password</ion-label>
              <ion-input class="input1" type="text" placeholder="Password"></ion-input>
              <ion-label>ชื่อพนักงาน</ion-label>
              <ion-input class="input1" type="text" placeholder="ชื่อพนักงาน"></ion-input>
              <ion-label>เบอร์โทร</ion-label>
              <ion-input class="input1" type="text" placeholder="เบอร์โทร"></ion-input>
              <ion-label>สิทธิ์</ion-label>
              <ion-select interface="popover" type="text" placeholder="เลือกสิทธิ์" >
                <ion-select-option value="u">Accouting</ion-select-option>
                <ion-select-option value="k">Truck</ion-select-option>
              </ion-select>
              <ion-label>สาขา</ion-label>
              <ion-select interface="popover" type="text" placeholder="เลือกสาขา" >
                  <ion-select-option value="brown">อุดรธานี</ion-select-option>
                  <ion-select-option value="blonde">ขอนแก่น</ion-select-option>
                  <ion-select-option value="black">สกลนคร</ion-select-option>
                  <ion-select-option value="red">หนองคาย</ion-select-option>
              </ion-select>
            </div>
            <div>
              <ion-button size="large" expand="block">แก้ไข</ion-button>
            </div>
          </ion-col>
        </ion-row>
      </ion-card>
</ion-content>
