<!-- <ion-header>
  <ion-toolbar color="warning">
    <ion-title color="dark">store-list</ion-title>
  </ion-toolbar>
</ion-header> -->
<app-barmain></app-barmain>

<ion-content class="ion-padding">
  <ion-card class="ion-padding">
    <ion-row>
      <ion-col size="12" size-sm>
        <ion-label>ชื่อพนักงาน</ion-label>
        <ion-input class="input1" placeholder="ค้นหาชื่อพนักงาน"></ion-input>
      </ion-col>

      <ion-col size="12" size-sm>
        <ion-label>สาขา</ion-label>
        <ion-select interface="popover" type="text" placeholder="เลือกสาขา" >
            <ion-select-option value="brown">อุดรธานี</ion-select-option>
            <ion-select-option value="blonde">ขอนแก่น</ion-select-option>
            <ion-select-option value="black">สกลนคร</ion-select-option>
            <ion-select-option value="red">หนองคาย</ion-select-option>
        </ion-select>
      </ion-col>

    </ion-row>
    <ion-row>
      <ion-col size="12" size-sm text-end>
        <ion-button color="primary">
          <ion-icon name="search"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-card>

  <ion-row>
    <ion-col size="2">
      <ion-button size="12" color="primary" (click)="gotoAddUser()">เพิ่มพนักงาน</ion-button>
    </ion-col>
  </ion-row>

  <ion-card class="ion-padding">
    <ion-row>
      <ion-col text-center>
        <h1>รายชื่อพนักงาน</h1>
      </ion-col>
    </ion-row>
    
    <ion-grid>
      <ion-row>
        <ion-segment scrollable>
          <table class="fixed_header">
            <thead>
              <tr>
                <th>รหัสพนักงาน</th>
                <th>ชื่อพนักงาน</th>
                <th>เบอร์โทร</th>
                <th>สิทธิ์</th>
                <th>สาขา</th>
                <th width="5%">ดูข้อมูล</th>
                <th width="5%">แก้ไข</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Us001</td>
                <td>ทองดี มีชัย</td>
                <td>0865325478</td>
                <td>Accouting</td>
                <td>อุดร</td>
                <td>
                  <ion-button color="secondary" (click)="gotoDetailUser()">ดูข้อมูล</ion-button>
                </td>
                <td>
                  <ion-button color="warning" (click)="gotoEditUser()">แก้ไข</ion-button>
                </td>
              </tr>
              <tr>
                <td>Us002</td>
                <td>ทองดี มีชัย</td>
                <td>0865325478</td>
                <td>Accouting</td>
                <td>อุดร</td>
                <td>
                  <ion-button color="secondary" (click)="gotoDetailUser()">ดูข้อมูล</ion-button>
                </td>
                <td>
                  <ion-button color="warning" (click)="gotoEditUser()">แก้ไข</ion-button>
                </td>
              </tr>
              <tr>
                <td>Us003</td>
                <td>ทองดี มีชัย</td>
                <td>0865325478</td>
                <td>Accouting</td>
                <td>อุดร</td>
                <td>
                  <ion-button color="secondary" (click)="gotoDetailUser()">ดูข้อมูล</ion-button>
                </td>
                <td>
                  <ion-button color="warning" (click)="gotoEditUser()">แก้ไข</ion-button>
                </td>
              </tr>
            </tbody>
          </table>
        </ion-segment>
      </ion-row>
    </ion-grid>
  </ion-card>
  
</ion-content>