<ion-header>
  <ion-toolbar>
    <ion-title>รายการสินค้า</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card text-center>
    <h2 style="color: black">จำนวนสินค้าทั้งหมด</h2>
    <ion-row>
      <ion-col>
        <ion-card style="background-color: aqua; color: black">
          <br>
          <ion-label>ถั่วงอก</ion-label>
          <br><br>
          <ion-label>800</ion-label>
          <br><br>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card style="background-color: burlywood; color: black">
          <br>
          <ion-label>เส้นหมี่</ion-label>
          <br><br>
          <ion-label>50</ion-label>
          <br><br>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card style="background-color:coral; color: black">
          <br>
          <ion-label>เส้นใหญ่</ion-label>
          <br><br>
          <ion-label>100</ion-label>
          <br><br>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card style="background-color:lightgreen; color: black">
          <br>
          <ion-label>แผ่นเกี๊ยว</ion-label>
          <br><br>
          <ion-label>200</ion-label>
          <br><br>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-card>

  <ion-row>
    <ion-col size="2">
      <ion-button size="12" color="primary" (click)="gotoAddProduct()">+ เพิ่มสินค้า</ion-button>
    </ion-col>
  </ion-row>

  <ion-card class="ion-padding">
    <ion-row>
      <ion-col text-center>
        <h1>รายการสินค้า</h1>
      </ion-col>
    </ion-row>

    <ion-grid>
      <ion-row>
        <ion-segment scrollable>
          <table class="fixed_header">
            <thead>
              <tr>
                <th>รหัสสินค้า</th>
                <th>ชื่อสินค้า</th>
                <th>ราคา</th>
                <th width="5%">แก้ไข</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>p-001201</td>
                <td>ถั่วงอก </td>
                <td>20 </td>
                <td>
                  <ion-button color="warning">
                    <ion-icon name="create"></ion-icon>
                  </ion-button>
                </td>
              </tr>
              <tr>
                <td>S-000101</td>
                <td>สว่างแดนดิน </td>
                <td>20 </td>
                <td>
                  <ion-button color="warning">
                    <ion-icon name="create"></ion-icon>
                  </ion-button>
                </td>
              </tr>
              <tr>
                <td>S-000101</td>
                <td>สว่างแดนดิน </td>
                <td>20 </td>
                <td>
                  <ion-button color="warning">
                    <ion-icon name="create"></ion-icon>
                  </ion-button>
                </td>
              </tr>
            </tbody>
          </table>
        </ion-segment>
      </ion-row>
    </ion-grid>
  </ion-card>

</ion-content>